* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-style: normal;
}

header {
    height: 400px;
    background-image: url("image/cosmos.jpg");
    background-size: cover;
    background-position: center;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#overlay {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}


nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;

    display: flex;
    justify-content: space-between;
}
.logo{
    font-family: 'Source Code Pro', monospace;
    font-size: 0.9rem;
    border: 1px solid white;
    padding: 2px;
}

.links {
    font-size: 1.5rem;
    display: flex;
    width: 600px;
    justify-content: space-around;
    align-items: center;
}
.links a {
    cursor: pointer;
}

.button {
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 50px;
}
a.button:hover {
    background-color: rgba(200, 200, 200, 0.75);
    color: inherit;
}

.title {
    font-size: 7rem;
    letter-spacing: 15px;
    color: rgb(240, 240, 240);
    font-weight: normal;
    text-align: center;
    z-index: 1;
}


#block1 {
    width: 150px;
    height: 150px;
    margin-top: -65px;
    padding: 20px;
    text-align: center;
    color: black;
    font-weight: bold;
    z-index: 1;
}
em {
    font-size: 1rem;
}
#block1 p {
    margin-bottom: 0px;
}
#block1 img {
    width: 70%;
    height: 60%;
    border-radius: 50px;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(199, 199, 199, 0.28);
}

.box {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
    width: 60%;
}

.index {
    font-family: 'Hanuman', serif;
    font-size: 4rem;
    color: black;
    margin-right: 40px;
    line-height: 47px;
}

.post {
    font-family: 'Inconsolata', monospace;
    color: #343434;
    text-align: justify;
    font-size: 1.8rem;
    line-height: 27px;
}

.post h1 {
    font-weight: bold;
    font-size: 3rem;
    margin-top: 0;
}

div.post img {
    width: 100%;
    margin-top: 8px;
    border-radius: 0px;
}

.credit {
    text-align: end;
    margin: 0;
    font-style: oblique;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

footer {
    font-size: 1.4rem;
    background-color: rgb(30, 30, 30);
    padding: 30px;
    text-align: center;
    color: whitesmoke;
}

@media (max-width: 1000px) {
    .box{
        margin-bottom: 25px;
        width: 80%;
    }
}
@media (max-width: 700px) {
    html{
        font-size: 7px;
    }
    header{
        height: 300px;
    }
    nav{
        padding: 10px;
    }
    .links{
        margin-left: 200px;
    }
    .button {
        padding: 5px 10px;
        border: 1px solid white;
        border-radius: 50px;
    }
    .title{
        letter-spacing: 7px;
    }
    section p{
        line-height: 26px;
    }
    .post h1{
        line-height: 15px;
        text-align: start;
    }
    div#block1 {
        width: 75px;
        height: 75px;
        margin-top: -33px;
        margin-bottom: 15px;
        padding: 10px;
    }
    .box{
        margin-bottom: 25px;
        width: 70%;
    }
    .credit{
        font-size: 1rem;
    }
    .index{
        margin-right: 10px;
        line-height: 22px;
    }
    footer{
        padding: 10px;
    }
}
@media (max-width: 500px) {
    html{
        font-size: 7px;
    }
    header{
        height: 300px;
    }
    nav{
        padding: 10px;
    }
    .links{
        margin-left: 60px;
    }
    .button {
        padding: 5px 10px;
        border: 1px solid white;
        border-radius: 50px;
    }
    .title{
        letter-spacing: 7px;
    }
    section p{
        line-height: 23px;
    }
    .post h1{
        line-height: 18px;
        text-align: start;
    }
    div#block1 {
        width: 75px;
        height: 75px;
        margin-top: -33px;
        margin-bottom: 15px;
        padding: 10px;
    }
    .box{
        margin-bottom: 25px;
        width: 70%;
    }
    .credit{
        font-size: 1rem;
    }
    .index{
        margin-right: 10px;
        line-height: 35px;
    }
    footer{
        padding: 10px;
    }
}
@media (max-width: 320px) {
    html{
        font-size: 7px;
    }
    header{
        height: 300px;
    }
    nav{
        padding: 10px;
    }
    .links{
        margin-left: 50px;
    }
    .button {
        padding: 5px 10px;
        border: 1px solid white;
        border-radius: 50px;
    }
    .title{
        letter-spacing: 7px;
    }
    section p{
        line-height: 20px;
    }
    .post h1{
        line-height: 18px;
        text-align: start;
    }
    div#block1 {
        width: 75px;
        height: 75px;
        margin-top: -33px;
        margin-bottom: 15px;
        padding: 10px;
    }
    .box{
        margin-bottom: 25px;
        width: 70%;
    }
    .credit{
        font-size: 1rem;
    }
    .index{
        margin-right: 10px;
        line-height: 22px;
    }
    footer{
        padding: 10px;
    }
}

form{
    margin-bottom: 30px;
    margin-top: 5px;
}

#img_container {
    padding: 20px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
#img_container>img {
    width: 50%;
    padding: 20px;
    object-fit: cover;
}
.display_no {
    display: none;
}

.display_yes {
    display: block;
}

button{
    padding: 10px;
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
}



